.center {
    margin: 0 auto;
}
.bg-white {
    background-color: white;
}
.hidden {
    display: none;
}
.margin-heading {
    margin-top: 20px;
}
.margin-bot {
    margin-bottom: 25px;
}
.margin-comments {
    margin-top: 15px;
}
.vertical {
    resize: vertical;
}
body {
    font-family: "Helvetica";
    font-size: 16px;
}
.margin-btn {
    margin-left: 8px;
}
